<form
  data-test-form="Ember Versions"
  {{on "submit" this.submitForm}}
>
  <div class="mb-3">
    <label for="from-version">From version</label>

    <select
      data-test-select="From Version"
      id="from-version"
      {{on "input" this.updateFromVersion}}
      {{on "input" this.checkAreVersionsValid}}
    >
      {{#each this.versions as |version|}}
        <option
          selected={{eq version this.fromVersion}}
          value={{version}}
        >
          {{version}}
        </option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="to-version">To version</label>

    <select
      data-test-select="To Version"
      id="to-version"
      {{on "input" this.updateToVersion}}
      {{on "input" this.checkAreVersionsValid}}
    >
      {{#each this.versions as |version|}}
        <option
          selected={{eq version this.toVersion}}
          value={{version}}
        >
          {{version}}
        </option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn mt-2" data-test-button="Find Changes" disabled={{ unless this.isValid true}}>
    Find Changes
  </button>

<div role="alert">
  {{#unless this.isValid}}
    <p class="mt-2">To version should be higher than From version</p>
  {{/unless}}
</div>
</form>
