<h3>New features</h3>
<h4 class="mb-1">Count: {{this.countOfFeatureChanges}}</h4>

{{#if this.countOfFeatureChanges}}
  <ul>
    {{#each this.model as |model|}}
      {{#each model.changes as |change|}}
        {{#if change.feature}}
          <li data-test-feature>
            <span data-test-field="Title">{{change.title}}</span>
            <a
              data-test-field="Version"
              href={{change.link}}
              rel="noopener noreferrer"
              target="_blank"
              title="Check version {{model.version}} link for more info"
            >
              ({{model.version}})
            </a>
          </li>
        {{/if}}
      {{/each}}
    {{/each}}
  </ul>
{{else}}
  <p>No new features</p>
{{/if}}

<h3>Deprecations</h3>
<h4 class="mb-1">Count: {{this.countOfDeprecationChanges}}</h4>

{{#if this.countOfDeprecationChanges}}
  <ul>
    {{#each this.model as |model|}}
      {{#each model.changes as |change|}}
        {{#if change.deprecation}}
          <li data-test-deprecation>
            <span data-test-field="Title">{{change.title}}</span>
            <a
              data-test-field="Version"
              href={{change.link}}
              rel="noopener noreferrer"
              target="_blank"
              title="Check version {{model.version}} link for more info"
            >
              ({{model.version}})
            </a>
          </li>
        {{/if}}
      {{/each}}
    {{/each}}
  </ul>
{{else}}
  <p>No new deprecations</p>
{{/if}}