<h3>New features</h3>
<h4>Count: {{this.countOfFeatureChanges}}</h4>

{{#if this.countOfFeatureChanges}}
  <ul>
    {{#each this.model as |model|}}
      {{#each model.changes as |change|}}
        {{#if change.feature}}
          <p data-test-feature={{model.version}}>
            {{change.title}}: 
            <a href={{change.link}} rel="noopener noreferrer" title="Check version {{model.id}} link for more info">
              ({{model.version}})
            </a>
          </p>
        {{/if}}
      {{/each}}
    {{/each}}
  </ul>
{{else}}
  <p data-test-no-feature>No new features</p>
{{/if}}

<h3>Deprecations</h3>
<h4>Count: {{this.countOfDeprecationChanges}}</h4>

{{#if this.countOfDeprecationChanges}}
  <ul>
    {{#each this.model as |model|}}
      {{#each model.changes as |change|}}
        {{#if change.deprecation}}
          <p data-test-deprecation={{model.version}}>
            {{change.title}}: 
            <a href={{change.link}} rel="noopener noreferrer" title="Check version {{model.id}} link for more info">
              ({{model.version}})
            </a>
          </p>
        {{/if}}
      {{/each}}
    {{/each}}
  </ul>
{{else}}
  <p data-test-no-deprecation>No new deprecations</p>
{{/if}}