<h1>Upgrading from {{this.fromVersion}} to {{this.toVersion}}</h1>
<CliUpdateCommands
  @toVersion={{this.toVersion}}
/>

<div data-test-package="Ember.js">
  <h2>Ember.js</h2>
  <ListFeaturesDeprecations
    @datum={{@model.emberJSChanges}}
    @fromVersion={{this.fromVersion}}
    @toVersion={{this.toVersion}}
  />
</div>

<div data-test-package="Ember Data">
  <h2>Ember Data</h2>
  <ListFeaturesDeprecations
    @datum={{@model.emberDataChanges}}
    @fromVersion={{this.fromVersion}}
    @toVersion={{this.toVersion}}
  />
</div>

<div data-test-package="Ember CLI">
  <h2>Ember CLI</h2>
  <ListFeaturesDeprecations
    @datum={{@model.emberCLIChanges}}
    @fromVersion={{this.fromVersion}}
    @toVersion={{this.toVersion}}
  />
</div>
