<EsHeader />

<main>
  <section class="container">
    <h1 class="es-heading">Upgrade Guide</h1>

    <div class="mb-3">
      <p>From version</p>
      <PowerSelect
        @searchEnabled={{true}}
        @options={{this.versions}}
        @selected={{this.fromVersion}}
        @onChange={{fn (mut this.fromVersion)}}
        as |version|
      >
        {{version}}
      </PowerSelect>
    </div>

    <div>
      <p>To version</p>
      <PowerSelect
        @searchEnabled={{true}}
        @options={{this.versions}}
        @selected={{this.toVersion}}
        @onChange={{fn (mut this.toVersion)}}
        as |version|
      >
        {{version}}
      </PowerSelect>
    </div>


    <h2>Upgrading from {{this.fromVersion}} to {{this.toVersion}}</h2>
    <CliUpdateCommands
      @toVersion={{this.toVersion}}
    />

    <h2>Ember.js</h2>
    <ListFeaturesDeprecations
      @datum={{@model.emberJSChanges}}
      @fromVersion={{this.fromVersion}}
      @toVersion={{this.toVersion}}
    />

    <h2>Ember Data</h2>
    <ListFeaturesDeprecations
      @datum={{@model.emberDataChanges}}
      @fromVersion={{this.fromVersion}}
      @toVersion={{this.toVersion}}
    />

    <h2>Ember CLI</h2>
    <ListFeaturesDeprecations
      @datum={{@model.emberCLIChanges}}
      @fromVersion={{this.fromVersion}}
      @toVersion={{this.toVersion}}
    />
  </section>
</main>

<EsFooter />