<EsHeader />
<EsMain>
  <EsHeading>Upgrade Guide</EsHeading>
  <p>From version</p>
  <PowerSelect @options={{this.versions}} @disabled={{false}} @selected={{this.fromVersion}}
    @onChange={{fn (mut fromVersion)}} as |version|>
    {{version}}
  </PowerSelect>
  <br />
  <p>To version</p>
  <PowerSelect @options={{this.versions}} @disabled={{false}} @selected={{this.toVersion}}
    @onChange={{fn (mut toVersion)}} as |version|>
    {{version}}
  </PowerSelect>

  <h2>Upgrading from {{this.fromVersion}} to {{this.toVersion}}</h2>

  <CliUpdateCommands @toVersion={{this.toVersion}} />

  <h2>Ember.js</h2>
  <ListFeaturesDeprecations
    @datum={{this.model.emberJSChanges}}
    @toVersion={{this.toVersion}}
    @fromVersion={{this.fromVersion}} />

  <h2>Ember Data</h2>
  <ul>
    <h4><strong>New Features</strong></h4>
    {{#each this.emberDataFeatures as |feature|}}
    {{#if (and (lte feature.version this.toVersion) (gte feature.version this.fromVersion))}}
    <p>
      {{feature.title}}: <a href={{feature.link}}>More info</a> (Ember {{feature.version}})
    </p><br>
    {{/if}}
    {{/each}}
  </ul>
  <ul>
    <h4><strong>Deprecations</strong></h4>
    {{#each this.emberDataDeprecations as |deprecation|}}
    {{#if (and (lte deprecation.version this.toVersion) (gte deprecation.version this.fromVersion))}}
    <p>
      {{deprecation.title}}: <a href={{deprecation.link}}>More info</a> (Ember {{deprecation.version}})
    </p><br>
    {{/if}}
    {{/each}}
  </ul>


  <h2>Ember CLI</h2>
  <ListFeaturesDeprecations
    @datum={{this.model.emberCLIChanges}}
    @toVersion={{this.toVersion}}
    @fromVersion={{this.fromVersion}} />
</EsMain>
<EsFooter />

{{outlet}}
